<tr>
	<td>
		<button data-dojo-attach-point='del_item_bttn'
			data-dojo-type='sl_components/sl_button/widget'
			data-bttnIcon='univ_no' data-bttnSize='sm' data-bttnLabel=''
			data-bttnColor='normal'></button>
	</td>
	<td>
		<input data-dojo-type="dijit/form/TextBox"
		type='text' data-dojo-attach-point='input_org_name'></input>	
	</td>
	<td>	
	<button data-dojo-attach-point='edit_item_bttn'
			data-dojo-type='sl_components/sl_button/widget'
			data-bttnIcon='pencil' data-bttnSize='sm' data-bttnLabel=''
			data-bttnColor='normal'></button>
	</td>
	
</tr>