<div>
	<div class='layer_sel_dialog' important;' data-dojo-type="dijit/Dialog"
		data-dojo-id="new_org" data-dojo-attach-point="dialog_neworg"
		title="Select a Layer">
		<div class='layer_sel_views' data-dojo-attach-point='views'  data-dojo-type='sl_components/selectors/layer_views_selector/widget'></div>
		<div class='result_container' data-dojo-attach-point='view_area'  dat-dojo-type="dijit/layout/ContentPane">
		<div  data-dojo-attach-point='results' ></div>
		</div>
	</div>
	<Label>Select a layer:</Label>
	<button data-dojo-attach-point='add_bttn'
		data-dojo-type="sl_components/sl_button/widget"
		data-bttnIcon='plus_round' data-bttnSize='sm' data-bttnLabel='Add'
		data-bttnColor='green'></button>
</div>
