<ul>
	<li>Files may be uploaded from your computer or from a URL you specify</li>
	<li>The maximum size of an uploaded file is 2048 MB.</li>
	<li>If a ZIP file is uploaded, all files in the ZIP will be
		processed, regardless of their extension.</li>
	<li>You may use a ZIP file which contains other ZIP files</li>
	<li>File(s) which do not identify a projection will apply the projection
	specified in this form, otherwise the file's projection is honored.	
	</li>
	<li>If a file and URL are provided the file will be used instead of the URL.</li>
</ul>