<div class='workarea'>
<table role='layout' style="width:100%;">
	<tr>
	<td class='search_area'  data-dojo-attach-point='search_area'>
	<div data-dojo-attach-point='searchUI' data-dojo-type='sl_components/forms/feature_search/widget'></div>
	</td>
	<td class='results_area' data-dojo-attach-point='results_area' style="width:100%">
		<table data-dojo-attach-point='pager' data-dojo-type='sl_components/data_pager/widget'></table>
		<div data-dojo-attach-point='results_dgrid' style='width:100%;'></div>
	</td>
</table>
</div>