
.import_report {
	margin-top: 20px;
	
}
#page_content {
	display:block;
}
.mainContent {
	opacity:1 !important;
}
.dijitSelect {
	margin-left:5px !important;
}
.dijitSelect td:nth-child(1){
	
	min-width:100px !important;
	padding-left:5px;
}