<div class='button_group' >

	<div class='new_maplayers' data-dojo-type="dijit/Dialog"
		data-dojo-id="new_players" data-dojo-attach-point="dialog_neworg"
		title="Select Layers to add">
		coming soon
	</div>
	<button class='back_button'
				data-dojo-attach-point='back_button'
				data-dojo-type='sl_components/sl_toggle_button/widget'
				data-bttnIcon='icos_back' data-bttnSize='sm' data-bttnLabel=''
				data-toggling='off'
				data-value='1' title="Visible"></button>
	<button data-dojo-attach-point='add_bttn'
		data-dojo-type="sl_components/sl_button/widget"
		data-bttnIcon='plus_round' data-bttnSize='sm' data-bttnLabel='Add Layers'
		data-bttnColor='green'></button>
</div>
