<tr>
	<td>
		<div class='row'>
			<div class='col1'>
				<button data-dojo-attach-point='del_item_bttn'
					data-dojo-type='sl_components/sl_button/widget'
					data-bttnIcon='univ_no' data-bttnSize='sm' data-bttnLabel=''
					data-bttnColor='normal'></button>
			</div>
			<div class='col2'>
				<label data-dojo-attach-point='lbl_displayname'>Display Name:</label>
			</div>
			<div class='col3'>
				<input data-dojo-attach-point='input_displayname' type='text'></input>
			</div>
			<div class='col4'>
				<label data-dojo-attach-point='lbl_username'>User Name:</label>
			</div>
			<div class='col5'>
				<input data-dojo-attach-point='input_username' type='text'></input>
			</div>
			<div class='col6'></div>
		</div>
		<div class='row'>
			<div class='col1'>
				<button data-dojo-attach-point='email_employee'
					data-dojo-type='sl_components/sl_button/widget'
					data-bttnIcon='mail' data-bttnSize='sm' data-bttnLabel=''
					data-bttnColor='normal'></button>
			</div>
			<div class='col2'>
				<label>Password:</label>
			</div>
			<div class='col3'>
				<input data-dojo-attach-point='input_password' type='password'></input>
			</div>
			<div class='col4'>
				<label data-dojo-attach-point='lbl_fwdEmail'>Fwd Email:</label>
			</div>
			<div class='col5'>
				<input data-dojo-attach-point='input_fwdEmail' type='text'></input>
			</div>
			<div class='col6'></div>
		</div>
		<div class='row'>
			<div class='col1'>
				&nbsp;
			</div>
			<div class='col2'>
				<label>Seat:</label>
			</div>
			<div class='col3'>
				<select data-dojo-attach-point='sel_seat' ></select>
				<span data-dojo-attach-point='selector_cell' ></span>
			</div>			
		</div>				
	</td>
</tr>
