<tr >
	<td>
		<button data-dojo-attach-point='add_bttn'
				data-dojo-type='sl_components/sl_toggle_button/widget'
				data-bttnIcon='icos_add_item' data-bttnSize='sm'
				data-bttnLabel='' data-toggling='off'
				data-value='0'
				title="Add layer"></button>
	</td>
	<td>
		<img data-dojo-attach-point='type_ico' data-dojo-type='sl_components/layer_icon/widget'></img>
	</td>
	<td>
		<label data-dojo-attach-point="name_lbl"></label>
	</td>
	<td data-dojo-attach-point="owner_cell">
		( <label data-dojo-attach-point="owner_lbl"></label> )
	</td>
		
</tr>