#page_content #subnav {
	display:none !important;
}

.workarea table {
	width: 100% !important;	
}
.workarea td {
	margin: 10px;
}
.roles_container {
	padding-left:5px;
	padding-right:10px;
	width:50%;
}

.context_container {
	padding-left:10px;
	padding-right:5px !important;
}

.role_permissions {
	padding-left:10px;
}