<div class='subnav' data-dojo-attach-point='nav'
	data-dojo-type="dijit/Toolbar">
	<ul>
		<li style='float: left;'><span>Activity</span> <span></span>
			<ul>
				<li>Map Usage</li>
				<li>Account Logins</li>
				<li>Account Changes</li>
				<li>Layer Transactions</li>
			</ul></li>
		<li style='float: left;'><span>Configuration</span>
			<ul>
				<li>Permissions Master List</li>
				<li>Plans Manager</li>
				<li>Roles Manager</li>
				<li>Seats Manager</li>
			</ul></li>
		<li style='float: left;'><span>Organizations</span>
			<ul>
				<li>List</li>
				<li>New</li>
				<li>Invites</li>
			</ul></li>
	</ul>

</div>