<div>
	<h2 data-dojo-attach-point='list_heading'>Roles</h2>
	<div class='new_item' data-dojo-attach-point='item_adder' data-dojo-type="sl_components/scrollable_listing/new_item/widget"></div>
	<div class='new_item no_context' data-dojo-attach-point="item_adder_noContext" >Click the listing icon next to a context to see its roles.</div>		
	<div data-dojo-attach-point='list' data-dojo-type="sl_components/scrollable_listing/widget"></div>
	<div data-dojo-attach-point='footer' data-dojo-type="sl_components/scrollable_listing/footer/widget"></div>
</div>