<tr>
<td>
<button data-dojo-attach-point='del_item_bttn'
			data-dojo-type='sl_components/sl_button/widget' data-bttnIcon='univ_no'
			data-bttnSize='sm' data-bttnLabel='' data-bttnColor='normal'></button>
</td>

<td width="100%">
<input class="form-control" type='text' data-dojo-attach-point='item_value' />
</td>
<td>
	<button data-dojo-attach-point='edit_role_bttn'
		data-dojo-type='sl_components/sl_button/widget'
		data-bttnColor='normal' data-bttnIcon='pencil'
		data-bttnSize='sm' data-bttnLabel=''></button>	
</td>
</tr>