
#page_content #subnav {
	display:none !important;
}
.seats_listing .listing, .seats_listing .scrollable_listing {
		width: auto !important;
		max-width: 640px;
		height:auto !important;
		max-height:auto !important;
}

.seats_listing td.input_cell {
	min-width: 300px;
}

.seats_listing table {
	width: 100%;
}