<tr>
	<td>
		<button data-dojo-attach-point='del_item_bttn'
			data-dojo-type='sl_components/sl_button/widget'
			data-bttnIcon='univ_no' data-bttnSize='sm' data-bttnLabel=''
			data-bttnColor='normal'></button>
	</td>

	<td width="100%"><label data-dojo-attach-point='lbl_item_name'></label>
	</td>
	<td>
		<button data-dojo-attach-point='edit_item_button'
			data-dojo-type='sl_components/sl_button/widget'
			data-bttnIcon='pencil' data-bttnSize='sm' data-bttnLabel=''
			data-bttnColor='normal'></button>
	</td>
	
</tr>