<table>
	<tbody>
		<tr data-dojo-attach-point='paging_data_row'>
			<td><a data-dojo-attach-point='prev_page' href='#'>prev</a></td>
			<td><label data-dojo-attach-point='from_record'></label> to <label
				data-dojo-attach-point='to_record'></label> of <label
				data-dojo-attach-point='num_records'></label></td>
			<td><a data-dojo-attach-point='next_page' href='#'>next</a></td>
		</tr>
		<tr data-dojo-attach-point='no_data_message' class="hidden">
			<td>&nbsp;</td>
			<td>No data to display</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>