<!DOCTYPE HTML>
<html>
<head>
<title>[Group: New Group 518c631299689ff434728fc1475fc71c] Arthur Clifford's Invitation Accepted</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<style>
body,html{padding:0;margin:0;height:100%;width:100%}body{padding-top:20px;background-color:gray;color:#202021;text-align:center}.doc{position:relative;border-radius:12px;background-color:#FAFAFA;color:#030928;text-align:center;bottom:0;min-height:300px;width:600px;margin:0 auto}.group_name{background-color:#202021;color:#F8F8F8;padding:6px;text-align:center;font-weight:700;font-size:14pt;line-height:24pt}.message{height:100%;text-align:left;padding-left:25px;padding-right:25px;padding-top:14pt;line-height:24pt;font-size:14pt;vertical-align:middle}.footer{position:absolute;bottom:10px;text-align:center;width:100%;font-style:italic}
</style>
</head>
<body >
<div  class= 'doc' >
	<div  >
		<div ><img src="https://dev.simplelayers.com/~art/simplelayers/logo.php" alt="SimpleLayers Inc."/></div>
		<div class="group_name" style="">New Group 518c631299689ff434728fc1475fc71c</div>
		<div class="message">Arthur Clifford has accepted your invitation to group New Group 518c631299689ff434728fc1475fc71c.<br/></div>				
	</div>
	<div class='footer'>powered by SimpleLayers</div>
	
</div>

</body>
</html>