<span>
<button data-dojo-attach-point='none_button'
			data-dojo-type='sl_components/sl_toggle_button/widget'
			data-bttnIcon='icos_access_none' data-bttnSize='sm' data-bttnLabel=''
			data-value='0'
			title="No Permission; locked"></button>
<button data-dojo-attach-point='view_button'
			data-dojo-type='sl_components/sl_toggle_button/widget'
			data-bttnIcon='icos_access_view' data-bttnSize='sm' data-bttnLabel=''
			data-value='1'
			title="View Permission"></button>

<button data-dojo-attach-point='edit_button'
			data-dojo-type='sl_components/sl_toggle_button/widget'
			data-bttnIcon='icos_access_edit' data-bttnSize='sm' data-bttnLabel=''
			data-value='2'
			title="Edit Permission"></button>
			

<button data-dojo-attach-point='copy_button'
			data-dojo-type='sl_components/sl_toggle_button/widget'
			data-bttnIcon='icos_access_copy' data-bttnSize='sm' data-bttnLabel=''
			data-value='4'
			title="Copy Permission"></button>

<button data-dojo-attach-point='create_button'
			data-dojo-type='sl_components/sl_toggle_button/widget'
			data-bttnIcon='icos_access_create' data-bttnSize='sm' data-bttnLabel=''
			data-value='8'
			title="Create Permission"></button>

<button data-dojo-attach-point='save_button'
			data-dojo-type='sl_components/sl_toggle_button/widget'
			data-bttnIcon='icos_access_save' data-bttnSize='sm' data-bttnLabel=''
			data-value='16'
			title="Save Permission"></button>

<button data-dojo-attach-point='trash_button'
			data-dojo-type='sl_components/sl_toggle_button/widget'
			data-bttnIcon='icos_access_delete' data-bttnSize='sm' data-bttnLabel=''
			data-value='32'
			title="Delete Permission"></button>
<button data-dojo-attach-point='all_button'
			data-dojo-type='sl_components/sl_toggle_button/widget'
			data-bttnIcon='icos_access_full' data-bttnSize='sm' data-bttnLabel=''
			data-value='63'
			title="Full Access: Unlocked"></button>
			
			
</span>