body        { background-color:#FFFFFF; color:#202021;
              font-family:Verdana, Arial, Helvetica, sans-serif;
              font-size:12pt;
              margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;
              width:100%; height:100%;
              overflow: hidden;
}
#page_content #subnav {
	display:none !important;
}
.app_pane {
    position:fixed;
    bottom:0px !important; 
    top:0px; 
    right:0px; 
    left:0px;

}

.wrapped {
    white-space:normal;	
}

#subnav .ui-widget {
    font-size: 0.8em;
    position: relative;
}

#subnav .limitstate_ok {
    padding-left:10px;
    color:#ffffff;
    background-color: #009900;
    border-bottom: 1px #e0e0e0 solid;
}

#subnav .limitstate_limited {
    padding-left:10px;
    color:#FFFFFF;
    background-color: #990000;
    border-bottom: 1px #e0e0e0 solid;
}

#subnav .limitstate_warn {
    padding-left:10px;
    color:#000000;
    background-color: #FFFF99;
    border-bottom: 1px #e0e0e0 solid;
}

#subnav .limitstate_none {
    display:none;
}

#subnav table {
    display:inline-block;
    border-spacing: 0;
    white-space: nowrap;
    overflow: hidden;

}

.subnavTable  tr {
    white-space: nowrap !important;
}

.subnavTable th {
    padding: 0 0px;;
    font-weight: 400;
    font-weight: 400;
    font-size: 10.75pt;
    line-height: 13pt;
    font-size: 10.75pt;
    line-height: 13pt;
}

.subnavTable tr td a {
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 0;
    text-decoration: none;
    font-size: 10.5pt;
    line-height: 12.75pt
}

.subnavTable td {
    padding: 2px 14px 4px 0;
}

#titleRow {
    padding: 9px 10px;
}

#titleRow img {
    margin-right: 4px;
}

#navRow {
    padding: 10px;
    background: #f8f8f8;
}
#navRow.flex-row {
    background: #eeeeee;
}
.subnavHeader {
    text-align: left;
}

#lastUpdated {
    float: right;
}

#navRow .filterNav{white-space: no-wrap !important; float:left;}
#list .type {
    text-align: center;
}




h1 {
    font-size: 18pt;
}

h2 {
    font-size: 14pt;
}

img         { border-style:none; }

a           { color:#005392; }

.small      { font-size:x-small; }

code        { white-space:nowrap; }

td          { vertical-align:top; text-align:left;
              white-space:nowrap;
              padding:2px 2px 2px 2px; margin:2px 2px 2px 2px;
}

th          { vertical-align:baseline; text-align:left;
              white-space:nowrap;
              padding:0 5px;

              color:#000000;
}

th a        { text-decoration:none; }

.dataTable td, .dataTable th{
    padding:2px 3px;
}

/* the alert style, for important messages */
.alert      { color:#FF0000; font-weight:bold; }
.alert a    { text-decoration:none; margin: 0 8px;}

/* those title bars on most pages */
.title     { /*font-style:oblique;*/ 
    font-weight:bold;
    /*background-color:#CC9966;*/ 
    color:#030928;
    white-space:nowrap;
}
.title a   { text-decoration:none;
}

/* the tables with those cool borders */
table.bordered { font-size:70%;
                 border-style:inset; border-width:2px; border-color:#C0C0C0;
                 border-collapse:collapse;
}
table.bordered td { border-style:inset; border-width:2px; border-color:#C0C0C0;white-space:normal;}
table.bordered th { border-style:inset; border-width:2px; border-color:#C0C0C0; background-color:#EFEFEF;cursor:pointer;}
table.bordered tr.even { background-color:#F0F0F0; color:#000000; }
table.bordered .access0 { background-color:#FF9999;}
table.bordered .access1 { background-color:#66FF66; }
table.bordered .access2 { background-color:#99CCFF; }
table.bordered .access3 { background-color:#FFFF66; }



/* the form elements. this is how they look so sharp */
.tagsinput { 
    background-color:transparent;
    min-height: 3em !important;
    width: 100% !important;
}
select      { background-color:#F0F0F0; border-style:solid; border-width:1px; border-color:#000000; }
th.fieldheader { width:50px;  background-color:#eebb88; border: 1px solid #ededed; }
td.field    { border-left: 1px solid #ffcc99; border-bottom: 1px solid #ffcc99; padding:4px; background-color:#ffffdd; white-space: nowrap}
.textButton { text-decoration:none; font-size:9pt; font-family:monospace; padding-right:2px; }
.nopad      { margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; border-style:none; border-width:0px;
              background-color:transparent;
}

/* the iframe for the thumbnails on the layerinfo and layeredit pages */
iframe.thumbnail { width:3in; height:3in; border-style:outset; border-width:2px; }

/*Sortable styling*/
.clear {clear:both;}
.sortableList{border:1px solid #000;font-size:9pt; margin:auto;min-height:279px;list-style-type: none;margin:0;padding:0;min-width:475px;background-color:#F0F0F0;}
.sortableList li{min-height:17px;white-space:normal;padding:2px 0;}
.subSort{list-style-type: none;}
.subSort li{min-height:17px;white-space:normal;padding:2px 0;}
.ui-sortable li a.collectionname{float: right;
                                 margin-right: 4px;
                                 max-width: 100px;
                                 white-space: nowrap;
                                 overflow-x: hidden;
                                 text-overflow: ellipsis;
}
.ui-sortable li a.collectiontype{float:right;margin:0 8px;}
.ui-sortable li .collectionicon{float:left;margin:0 6px 0 2px;}
.ui-sortable li a.collectionname:hover{text-decoration:underline;cursor:pointer;}
.ui-state-default, .ui-state-default  a{color:#000;}
.ui-state-default{background:#fff;border:none;}
li.ui-state-default + li.ui-state-default{border-top:1px solid #000;}
.checkbox{border:none;}

#ownerData{font-weight:400;font-style:italic;}
#lastUpdated{float:right;font-style:italic;}
#titleRow{padding:9px 10px;}
#titleRow img{margin-right:4px;}

#navRow{padding:3px 10px;background:#f8f8f8;white-space: nowrap !important;}
#navRow .filterNav{float:right; white-space: no-wrap !important;}
#list .type{text-align:center;}

#contentWrapper{left:0;right:0;padding-left:0px;clear:both;overflow-x:hidden;overflow-y:auto !important;}

.hidden {
    display:none;
}

.warning{
    background:#faf7b0;
    border:2px solid #eae569;
    margin:16px;
    font-size:10pt;
    padding:4px;
    text-align:left;
}
.warning .header{
    font-size:14pt;
}


.warning hr{
    border:0;
    height:2px;
    background:#eae569;
    width:100%;
    margin:1px auto;
}
fieldset{background:#ccc;}
fieldset input{width:100%;}
legend {font-weight:700;}


.pageLayout {
    min-width: 650px !important
}

.hide ,.pageLayout td .hide, .dijitDialogPaneContent td .hide {
    display:none;	
}

#tooltip {
    background-color: #333333;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    display: none;
    font-size: 12pt;
    padding: 6px;
    text-align: left;
    z-index:15000;
    position: absolute;
}
#tooltip h3{
    font-size: 8pt;
}
#tooltip h3, #tooltip div { margin: 0; }

.intro,.instruction{
    max-width:940px !important;
    line-height: 1.4em;

    white-space: normal;
    font-style: italic;
    margin-bottom: 14pt;
}

button[disabled]:active, button[disabled],
input[type="reset"][disabled]:active,
input[type="reset"][disabled],
input[type="button"][disabled]:active,
input[type="button"][disabled],
input[type="submit"][disabled]:active,
input[type="submit"][disabled] {
    /*
          background-color:#F9F9F9;
          border: 1px solid #DDD;
    */
}
.forum{
    border-collapse:collapse;
}
button {
    padding: 4px 8px 4px 8px !important;
}
.forum .new{
    font-weight:700;
}
.forum, .forum th, .forum td{
    border:1px solid #1f1f1f;
    vertical-align:middle;
    padding:0px;
}
.forum tr{
    background:#f8f8f8;
}
.forum tr:nth-child(2n+3){
    background:#eee;
}
.forum tr:hover{
    background:#ddd;
}
.forum tr.forum_header{
    background:#8b8d95 url('media/images/forum_header.png');
    height:40px;
}
.forum_header th{
    color:#fff;
    text-shadow: 0 0 4px #ccc;
    text-align:center;
    background:none;
}
.forum_row td{
    font-size:10pt !important;
    padding-bottom: 5px !important;
}
.forum_row .forum_title , .forum_row .forum_desc, .forum_last{
    font-size:10pt !important;
    line-height: 14pt !important;
}
.forum_cell_middle{
    text-align:center;
}
.forum_link{
    display:block;
    width:100%;
    vertical-align:middle;
    text-decoration:none;
    height:32px;
    padding:6px;
}
.ghostTextActive{
    color:#666;
}
.topic{
    border:1px solid #1f1f1f;
    font-size:10pt;
    border-collapse:collapse;
    width:100%;
}
.topic th{
    background:#eee;
    text-align:left;
    padding:10px;
    width:35%;
}
.topic td, .topic th{
    border-top:1px solid #1f1f1f;
    border-bottom:1px solid #1f1f1f;
    white-space:normal;
}
.topic td{
    text-align:left;
    padding:10px;
    width:65%;
    word-wrap:break-word;
    hyphens: auto;
}
.topic td:nth-child(2n){
    background:#f8f8f8;
}
.topic .name{
    font-weight:700;
    font-size:14pt;
}
.topic th img{
    float:left;
    width:80px;
    height:80px;
    margin:4px 4px 4px 0;
}
.topic th contact{
    float:left;
}
.topic th .options, .topic td .options{
    float:right;
}





.mainContent{

    left:0;
    right:0;
    top: 201px; 
    position:absolute;
    padding-bottom:0px;
    margin-bottom:0px;
    padding-left:10px !important; 
    padding-right:10px !important;
    bottom:0px;
    overflow-y:auto;
}

#pageContent{
    overflow:auto;
    left:0px; right:0px;


}

.contentarea.no-nav-row {
    position: absolute !important;
    top: 15.25em;
    overflow: auto;
    bottom: 0px;
    width:100%;
}
#pageContent.menuless {
    position: absolute;
    left:0px; right:0px;
    background: #ff0;
}

.messagingUser{
    background:#eee url('media/images/unselectedbackground.png');
    padding:0;
    margin:10px 0 10px 20px;
    text-align:right;
    border:1px solid #999;
    left:1px;
    position:relative;
    border-radius:10px 0 0 10px
}

#messageMain{
    background:#ddd url('media/images/selectedbackground.png');
    padding:0;
    margin-top:10px;
    float:left;
    width:75%;
    border:1px solid #999;
}

.unreadUser{
    text-align:center;
    float:left;
    color:#fff;
    font-weight:700;
    font-size:10pt;
    background:url('media/icons/newmessage2.png');
    font-family:Helvetica, Arial, Verdana, sans-serif;
    min-width:12px;
    background-repeat:no-repeat;
    background-position:center center;
}
.messagingUser a{
    display:inline-block;
    padding:6px 6px;
    text-decoration:none;
}
.closeMessage{
    float:left;
}
.messageingUserSelected{
    background:#ddd url('media/images/selectedbackground.png');
    border-right:1px solid #ddd;
    font-weight:700;
}
.message{
    margin:5px;
    padding:10px;
    border-radius:10px;
    border:1px solid #999;
    word-wrap:break-word;
}
.toMessage{
    float:left;
    width:80%;
    background:#BECFBE;
    border:1px solid #879C8A;
}
.fromMessage {
    float:right;
    width:80%;
    background:#BEC9CF;
    border:1px solid #87949C;
}
.floatRight {
    float:right;
}
.floatLeft{
    float:left;
}
.float-none {
    clear:both;
}
.dataTable .action {
    white-space: nowrap;
}
.hidden-overflow {
    overflow: hidden !important;
}
.padless {
    padding:0px !important;
}
.no-right-inset {
    margin-right: -1.5em;
}
.inline {
    display: inline-block !important; 
}
.no-bottom-margin {
    margin-bottom:0px;
}
.auto-width {
    width: auto !important;
}

.flex-content .flex-row {
    gap: 0px;
    display: flex;
    align-items: baseline;
    margin-top: .33em;
    margin-bottom:.33m;
}
.flex-content .flex-row:first-child {
    margin-top:0px
}
.flex-content .flex-row:last-child {
    margin-bottom: 0px;
}
.flex-content .flex-inline .form-group,
.flex-content .flex-row>.flex-column {
    padding-left: .5em;
    padding-right: .5em;
}
.flex-content .flex-inline .form-group:first-child,
.flex-content .flex-row>.flex-column:first-child {
    padding-left: 0px;
    padding-right: .5em;
} 
.flex-content .flex-inline .form-group:last-child,
.flex-content .flex-row>.flex-content:last-child {
    padding-right: 0px;
    padding-left: .5em;
}
.flex-row.text-align {
    align-items:baseline;
}
.flex-content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}
.flex-split {
    flex-direction: row;
    display:flex;
    align-items: flex-start;

}
.flex-content .flex-column .form-group {
    margin-top: .25em;
}

.flex-content .flex-column .form-group:first-child {
    margin-top: 0em;
}
.flex-content .flex-row {
    gap: 0px;
}
.flex-content .flex-row >label.form-label {
    margin-right: 1em;
}
.flex-content .flex-inline {
    display: inline-flex;
    flex-direction: row;
    align-content: stretch;
    align-items: baseline;
}
 
.flex-content select.form-select.fitted {
    display:flex-inline;
    width: fit-content !important;
    flex-grow:0 !important;
}
.flex-no-grow {
    flex-grow: 0 !important;
}
.form-label {
    font-weight: bold;
}
.no-nav {
    display:none !important;
}