<div data-dojo-attach-point="app_content" >
	<div class="navbar navbar-custom navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<span class="logo_container" >
				<img data-dojo-attach-point="logo" class="logo navbar-item"  ></img>
				</span>
				<label class='title'>Data Collection</label>
			</div>
		</div>
	</div>
	
	<div class="container-fluid centered">
	<div class="row">
	</div>
	
		<div class="row">
		<form data-dojo-attach-point='data_entry_form'>
		
		</form>
		</div>
		
	</div>
</div>